[Unit]
Description=AWS Ork
After=network.target

[Service]
Type=simple
Restart=True
ExecStart=/usr/local/bin/aws_ork
KillMode=process

[Install]
WantedBy=multi-user.target
